body{
  background-color: #9c9c9c;
  font-family: sans-serif;
}
main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.gameblock{
  background-color: #cccccc;
  color: #1a1a2e;
  font-size: 16px;
  border: black 1px solid;
  border-radius: 4px;
  padding: 12px 24px;
  width: auto;
  margin: 2px;
  text-align: center;
}
.gameblock > img {
  height: 200px;
}

button{
  background-color: #cccccc;
  color: #1a1a2e;
  font-size: 16px;
  border: black 1px solid;
  border-radius: 4px;
  padding: 12px 24px;
  margin: 2px;
  text-align: center;
}

button:hover {
  background: #acacac;
}

button:active {
  transform: scale(0.96);
}