body{
  background-color: #9c9c9c;
  font-family: sans-serif;
}
main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.gameblock{
  background-color: #bdbdbd;
  border: black 1px solid;
  border-radius: 4px;
  padding: 2px;
  width: 200px;
  margin: 2px;
  text-align: center;
}
